/* @config "../tailwind.config.js"; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Title";
  src: url("/Bayon.ttf") format("truetype");
}
@font-face {
  font-family: "Amz";
  src: url("/AmazonEmberDisplay_Bd.ttf") format("truetype");
}
::-webkit-scrollbar {
  width: 0px;
}
.Title {
  font-family: "Title";
}
.Amz {
  font-family: "Amz";
}
